@model ChessWebAspNetCore.Models.DTO.GameIndexDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/css/chessGame.css" rel="stylesheet" />

}
<h2 style="text-align:center;">Game Zone <a href="#" class="btn btn-success StartGame" style="cursor:pointer;">Start Game</a></h2>

<div class="container">
    <div class="row">

        <div class="col-md-2 playerOneSide">
            @foreach (FigureToIndex item in Model.FigureToIndixes.Where(m => m.Figure.WhiteOrBlack == true))
            {

                <img class="chessFigures draggable displayNone whiteTeam activePlayer" figure-id="@item.Figure.Id" currentItemId="@item.Id" rowId="@item.Index.RowIndex" columnId="@item.Index.ColumnIndex" src="~/images/@item.Figure.Photo" alt="@item.Figure.Name" />

            }
        </div>
        <div class="col-md-8">
            <div class="gameContainer clearfix" style="margin:0 auto;">
                @for (int i = 8; i >= 1; i--)
                {
                    @for (int j = 1; j <= 8; j++)
                    {

                        <div class="@((i+j)%2==0?"black":"white") gameSquare droppable centeredContainer" row="@i" col="@j">

                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-2 playerSecondSide">
            @foreach (FigureToIndex item in Model.FigureToIndixes.Where(m => m.Figure.WhiteOrBlack == false))
            {

                <img class="chessFigures draggable displayNone blackTeam activePlayer" figure-id="@item.Figure.Id" currentItemId="@item.Id" rowId="@item.Index.RowIndex" columnId="@item.Index.ColumnIndex" src="~/images/@item.Figure.Photo" alt="@item.Figure.Name" />

            }
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/chessGame.js"></script>
}