@model IEnumerable<ChessWebAspNetCore.Models.Directions>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-offset-0 col-xs-12 col-lg-offset-3 col-lg-6">

                <h2>Directions</h2>

                <div class="row">
                    <div class="buttonsRow col-12">
                        <a class="btn btn-primary" style="float:right;margin-bottom:15px;" asp-action="Create"><i class="far fa-plus-square"></i></a>
                    </div>
                    <div class="col-md-12"></div>
                    <div class="col-12">
                        <table class="table table-bordered MyTableHeightMin">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Directions direction in Model)
                                {
                                    <tr directionId="@direction.Id">
                                        <th scope="row" class="centeredContainer" style="width:75%;"><span class="centeredElement">@direction.Name</span></th>

                                        <td class="centeredContainer" style="width:25%;">
                                            <div class="centeredElement">
                                                <a asp-action="Edit" asp-route-Id="@direction.Id" class="btn btn-warning tableButton centeredContainer"><i class="fas fa-edit centeredElement"></i></a>
                                                <a asp-action="Delete" asp-route-Id="@direction.Id" class="btn btn-danger tableButton centeredContainer"><i class="fas fa-trash-alt centeredElement"></i></a>
                                            </div>
                                            @*<a asp-action="AddDirectionToCurrentFigure" asp-route-Id="@figure.Id" class="btn btn-success"><i class="fas fa-directions"></i></a>
                                    <a asp-action="FigureDetails" asp-route-Id="@figure.Id" class="btn btn-info"><i class="fas fa-info-circle"></i></a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
